html {
    color: $black;
    font-family: $text;
    height: 100%;
}
body {
    // padding:2em;
    font-size: 62.5%;
    // width:80%;
    margin: 0 auto;
    height: 100%;
}
.wrapper--main {
    font-size: 1.6rem;
    // background:red;
}
