.progress-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 1rem;
    background: $black;
}

.progress-bar__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    background: $primary;
    transition: width 0.2s;
}

.progress-bar__label {
    position: absolute;
    top: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: $crt__screw_light;
}
